
@font-face {
    font-family: ARKANOID;
    font-style: normal;
    font-weight: normal;
    src: url(ARKANOID.TTF);
 }
 .informacion
 {
    font-family: ARKANOID;
    color:red;
    font-size: 1em;
 }
 body *
 {
    overflow:hidden;
 }